:root {
    box-sizing: border-box;
}

#header {
  
    background-image: linear-gradient(to right, rgb(11, 86, 235) , rgb(36, 14, 124));
    font-size: 30px;
    font-weight: bold;
}

.singleHeader{
    display: flex;
    align-items: center;
}
